body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #323232;
    color: #ffffff;
  }
  
  #content {
    display: inline-block;
  }

  .headline{
    padding-bottom: 50px;
  }
  
  table {
    border-collapse: collapse; /* Entfernt doppelte Außenlinien */
    /* margin: 0 auto; */
  }
  
  td {
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    border: 3px solid white; /* Trennlinien innerhalb der Tabelle */
  }
  
  /* Entfernedie äußeren Trennlinien */
  td:nth-child(1) { border-left: none; } /* Entfernt linke Randlinie */
  td:nth-child(3) { border-right: none; } /* Entfernt rechte Randlinie */
  tr:first-child td { border-top: none; } /* Entfernt obere Randlinie */
  tr:last-child td { border-bottom: none; } /* Entfernt untere Randlinie */
  
  td:hover {
    background-color: #444444;
  }

  #winner{
    padding-bottom: 30px;
    font-size: 24px !important;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #00b0ef;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #008ecf;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}